/* Header */

.site-header.inicio{
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
}
/* Globales */
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}
.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

/* Navegacion */
.navegacion a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
.navegacion a:hover{
    color: #71b100;
}
.navegacion a:last-of-type{
    margin-right: 0px;
}